html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("images/about_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: TrixieText;
  src: url(fonts/TrixieText.ttf) format("truetype");
}

@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf) format("opentype");
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(fonts/Radomir\ Tinkov\ -\ Gilroy-SemiBold.otf) format("opentype");
}

/* Navbar and Hamburger Menu */
.nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  /* margin-top: 1%; */
}

.menu a {
  clear: right;
  text-decoration: none;
  color: #EBEBEB;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.nav-item {
  padding: 15px 60px;
  font-size: 14px;
}

.community {
  left: 10px;
}

.about-us {
  left: 4px;
}

.calendar {
  right: 4px;
}

.fd {
  right: 10px;
}

.cellar-door-icon {
  padding: 40px 35px;
}

.cellar-door-icon > img {
  width: 30px;
  position: relative;
  top: 15px;
}

label {
  margin: 0 40px 0 0;
  font-size: 25px;
  line-height: 70px;
  display: none;
  width: 25px;
  float: right;
}

#toggle {
  display: none;
}

/* Main Content */
main {
  max-width: 1000px;
  margin: auto;
}

.about-intro {
  margin: 10%;
}

.about-intro > .title {
  text-align: center;
  font-family: Gilroy-SemiBold;
  font-size: xx-large;
}

.about-intro > .description {
  font-size: 18px;
  font-family: Gilroy-Light;
  color: #EBEBEB;
  font-weight: 100;
  padding-bottom: 20px;
}

footer {
  background-color: #AD0E2B;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  padding: 5% 0 5% 0;
}

.footer-container > a > img {
  width: 100%;
  max-width: 100px;
  max-height: 50px;
  display: block;
  margin: 0 auto;
}

.contact, .social-media {
  width: max-content;
  margin: auto;
  position: relative;
}

.contact {
  right: 10%;
  font-weight: bold;
}

.contact > h4 {
  color: #000000;
  font-family: sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}

.contact > h5 {
  font-family: Gilroy-SemiBold;
  margin-top: 10px;
}

.social-media {
  display: flex;
  left: 10%;
}

.social-icon-container {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: black;
  border-radius: 25px;
}

.social-icon-container > a > i {
  color: white;
  position: relative;
  top: 12px;
  left: 12px;
}

/* ABOUT Page */
.about-title {
  font-family: Gilroy-Light;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  margin: 20%;
}

.item > .title {
  font-family: Gilroy-SemiBold;
  font-size: xx-large;
  margin: 0;
}

.item > p {
  font-size: 18px;
  font-family: Gilroy-Light;
  color: #EBEBEB;
  font-weight: 100;
}

/* Dot shapes */

.dot-square {
  width: 165px;
  height: 150px;
  background-color: transparent;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dot-square > .row {
  display: flex;
}

.circle {
  width: 200px;
  height: 200px;
  background: transparent;
  position: relative;
  top: 50%;
  left: 45%;
}

.circle > .dot {
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  border-radius: 50%;
}

.circle > .dot:nth-child(1) {
  transform: rotate(0deg) translate(80px);
}
.circle > .dot:nth-child(2) {
  transform: rotate(30deg) translate(80px);
}
.circle > .dot:nth-child(3) {
  transform: rotate(60deg) translate(80px);
}
.circle > .dot:nth-child(4) {
  transform: rotate(90deg) translate(80px);
}
.circle > .dot:nth-child(5) {
  transform: rotate(120deg) translate(80px);
}
.circle > .dot:nth-child(6) {
  transform: rotate(150deg) translate(80px);
}
.circle > .dot:nth-child(7) {
  transform: rotate(180deg) translate(80px);
}
.circle > .dot:nth-child(8) {
  transform: rotate(210deg) translate(80px);
}
.circle > .dot:nth-child(9) {
  transform: rotate(240deg) translate(80px);
}
.circle > .dot:nth-child(10) {
  transform: rotate(270deg) translate(80px);
}
.circle > .dot:nth-child(11) {
  transform: rotate(300deg) translate(80px);
}
.circle > .dot:nth-child(12) {
  transform: rotate(330deg) translate(80px);
}


.dot {
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin: 10px;
}

.invisible-dot {
  background-color: transparent;
}

.container {
  margin-bottom: 15%;
}

@media only screen and (min-width: 320px) {
  .circle {
    width: 100px;
    left: 40%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .circle {
    left: 45%;
  }
}

@media only screen and (max-width: 768px) {
  /* Navbar and Hamburger Menu */
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    width: 100%;
    display: none;
    margin-top: 0;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid black;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
  }

  #toggle:checked + .menu {
    display: block;
  }

  main {
    width: 75%;
    margin: 0 auto;
  }

  .nav-item {
    border-top: none;
    border-bottom: none;
    padding: 0px;
  }

  .community {
    left: 0px;
  }
  
  .about-us {
    left: 0px;
    margin: 25% 0 25% 0;
  }
  
  .calendar {
    right: 0px;
  }
  
  .fd {
    right: 0px;
  }
  
  .cellar-door-icon {
    padding: 0px;
    border: none;
  }

  .about-us > .title {
    font-size: x-large;
  }

  .about-intro > .title {
    font-size: x-large;
  }

  .row {
    display: block;
  }

  .middle-row {
    display: flex;
    flex-direction: column-reverse;
  }

  .item > .title {
    text-align: center;
  }

  .dot-square {
    width: 135px;
    height: 120px;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .dot {
    background-color: white;
    width: 35px;
    height: 25px;
    border-radius: 25px;
    margin: 10px;
  }

  .invisible-dot {
    background-color: transparent;
  }
  
  .circle > .dot {
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    border-radius: 50%;
  }

  .container > .row {
    margin-top: 50%;
  }

  .footer-container {
    display: block;
  }

  .contact, .social-media {
    position: inherit;
    text-align: center;
    padding: 5% 0 5% 0;
  }

  .social-icon-container > a > i {
    left: 0;
  }
}

@media only screen and (min-width: 769px) {
  main, .menu, .footer-container {
    max-width: 750px;
  }

  .nav-item {
    padding: 15px 30px;
  }

  .contact {
    right: 0;
  }

  .social-media {
    left: 0;
  }

  .row {
    display: flex;
  }

  .item {
    width: 50%;
  }

  .middle-row > .item {
    text-align: right;
  }

  .middle-row {
    border-top: 0.5px solid #707070;
    border-bottom: 0.5px solid #707070;
  }

  .container > .row {
    padding: 50px;
  }

  .fa-facebook-f {
    padding-left: 3px;
  }

  .fa-instagram {
    padding-left: 1px;
  }

}

@media only screen and (min-width: 1024px) {
  main, .menu, .footer-container {
    max-width: 1000px;
  }

  .nav-item {
    padding: 15px 60px;
  }
}