html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Navbar and Hamburger Menu */
.nav {
  border-bottom: 1px solid lightgrey;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
  text-align: center;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}

label {
  margin: 0 40px 0 0;
  font-size: 25px;
  line-height: 70px;
  display: none;
  width: 25px;
  float: right;
}

#toggle {
  display: none;
}

/* Main Content */
main {
  max-width: 750px;
  margin: auto;
}

.title-container {
  margin: 15% 0 15% 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.header > button {
  margin: 10px;
  padding: 5px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event-1, .event-2, .event-3 {
  flex-basis: 200px;
  padding: 1.5%;
  margin: 1.5%;
  border: 1px solid black;
  min-width: 200px;
}

.about-us {
  margin: 10% 0 10% 0;
}

.about-us > .title {
  text-align: center;
}

.about-us > button {
  display: block;
  margin: 0 auto;
}

.music-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10% 0 10% 0;
}

.artist-container, .spotify-container {
  width: 50%;
}

.artist-container > button {
  display: flex;
  margin: 10px 0 10px 0;
}

.food-and-drinks {
  margin: 10% 0 10% 0;
}

footer {
  max-width: 750px;
  margin: auto;
  display: flex;
  padding: 5% 0 5% 0;
}

.contact, .cellar-door, .social-media {
  width: max-content;
  margin: auto;
  position: relative;
}

.contact {
  right: 10%;
}

.cellar-door {
  right: 5%;
}

.social-media {
  left: 10%;
}

@media only screen and (max-width: 768px) {
  /* Navbar and Hamburger Menu */
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid lightgrey;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }

  main {
    width: 50%;
    margin: 0 auto;
  }

  .header {
    justify-content: center;
    padding: 5%;
    min-width: 150px;
    max-width: 155px;
    margin: 0 auto;
  }

  .music-container {
    justify-content: center;
    text-align: center;
  }

  .title-container > * {
    text-align: center;
  }

  .artist-container, .spotify-container {
    width: 100%;
  }

  .artist-container > button {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer {
    display: block;
  }

  .contact, .cellar-door, .social-media {
    position: inherit;
    text-align: center;
    padding: 5% 0 5% 0;
  }


}